<h4>Listado</h4>
<ol class="list-group">
  <li  *ngFor="let character of characterList;
   let i=index;" class="list-group-item d-flex justify-content-between align-items-center">
    <div>
    <span class="text-primary">{{i+1}}. </span>
    <span>{{character.name}} </span>
    <strong>Power: </strong>
    <span>{{character.power}}</span>
    <span>Es el primero: {{i===0}} </span>
    <span>Es el último: {{i===characterList.length-1}} </span>
  </div>
  <button (click)="onDeleteCharacter(character.id)" class="btn btn-danger">X</button>
  </li>
</ol>